@page "/intervals"

<PageTitle>Intervals</PageTitle>
<h3>Intervals</h3>

<MudPaper Width="1000">
    <MudText Typo="Typo.h5" Align="Align.Center">
        Unison:<MudImage Src="intervalsBase.svg" Alt="intervalsPic" Width="800" Style="margin:10px"/>
    </MudText>
    <br />
    <MudText Typo="Typo.h5" Align="Align.Center">
        Minor 2nd:<MudImage Src="minorsecond.svg" Alt="intervalsPic" Width="800" Style="margin:10px;align-content:Center" />
    </MudText>
    <br />
</MudPaper>

@code {

}
