@page "/notes"

<PageTitle>Notes</PageTitle>

<h1 style="font-size:48px;">Notes</h1>
<MudDivider />
<p style="font-size:32px;">In western music there are 12 <em>chromatic</em> notes.</p><br />
<p style="font-size:28px;">What are notes?</p>
<p style="font-size:22px;">Simply put, notes are specific frequencies that an instrument can make, in theory, they are given a name so that we can write them down and use them to create music.</p><br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h6" Align="Align.Center">
            Ascending: Notice that there are 5 <em>sharped (#) </em>notes.
        </MudText>
        <MudText Typo="Typo.h5" Align="Align.Center">
            A - A# - B - C - C# - D - D# - E - F - F# - G - G#
        </MudText>
    </MudCardContent>
</MudCard>
<br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h6" Align="Align.Center">
            Descending: Notice that there are 5 <em>flatted (b) </em>notes.
        </MudText>
        <MudText Typo="Typo.h5" Align="Align.Center">
            A - Ab - G - Gb - F - E - Eb - D - Db - C - B - Bb
        </MudText>
    </MudCardContent>
</MudCard>
<br />
<MudDivider />
<p style="font-size:32px;">Notes are cyclical, meaning that they repeat infinitely at ever increasing or decreasing frequencies.</p><br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h6" Align="Align.Center">
            Example: <em>Starting from middle C and ascending. Here we cover two octaves.</em>
        </MudText>
        <MudText Typo="Typo.h5" Align="Align.Center">
            C - C# - D - D# - E - F - F# - G - G# - A - A# - B - C - C# - D - D# - E - F - F# - G - G# - A - A# - B - C
        </MudText>
    </MudCardContent>
</MudCard>
<MudDivider />
<p style="font-size:32px;">Some terminology:</p><br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">
            <em>Chromatic note: </em>One of the 12 notes that make up an octave.
        </MudText>
    </MudCardContent>
</MudCard>
<MudDivider/>
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">
            <em>Natural note: </em>A note which is not sharp or flat, i.e. C.
        </MudText>
    </MudCardContent>
</MudCard>
<MudDivider />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">
            <em>Octave: </em>12 notes above or below the starting (root) note.
        </MudText>
    </MudCardContent>
</MudCard>
<MudDivider />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">
            <em>Root note: </em>Can be any of the 12 chromatic notes, it is your chosen starting point.
        </MudText>
    </MudCardContent>
</MudCard>

@code {

}
